.about {
    background-color: rgb(37, 37, 37);
}

.header {
    width: 70%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    padding: 1rem 0 0.5rem 0;
}

.header h3 {
    color:  rgb(37, 37, 37);
    font-weight: 300;
    font-size: 4rem;
    margin-left: 1rem;
    background-color: rgb(0, 157, 230);
    border-radius: 10px;
    padding: 0.5rem;
}

.header img {
    width: 12rem;
    border-radius: 50%;
    box-shadow: 0 0 16px rgb(0, 0, 0);    
} 

.content {
    width: 70%;
    display: flex;
}

.left-box {
    width: 50%;
    height: 40rem;
    flex-direction: column;  
}

.right-box {
    width: 50%;
    height: 40rem;
    display: flex;
    flex-direction: column;  
}

.top-box {
    width: 100%;
    height: 20rem;
    border-right: 1px solid gray;
    justify-content: space-around;
}

.bottom-box{
    width: 100%;
    height: 20rem;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
}

.about-text {
    color: lightgray;
    padding: 2rem;
}


.running-man {
    margin-top: 1rem;
    width: 20rem;
    height: 5rem;
    overflow: hidden;
    position: relative;
}

.running-man img {
    position: relative;
}

.slide-up {
    font-size: 7rem;
    color: rgb(0, 157, 230);
}

.slide-down {
    font-size: 7rem;
    color: rgb(0, 157, 230);
}

.slide-up:hover, .slide-down:hover {
    cursor: pointer;
    background-color: rgba(162, 207, 233, 0.582);
}

.video {
    width: 18rem;
    height: 18rem;
    border-radius: 50%;
    overflow: hidden;
    background-color: rgba(0, 116, 184, 0.418);
    box-shadow: inset 0 8px 15px rgba(24, 182, 255, 0.603), 0 -4px 10px rgba(37, 165, 250, 0.5);
}

video {    
    width: 24rem;
    height: 24rem;
}