.about {
    height: 100vh;
    background-color: green;
}

.running-man {
    width: 300px;
    height: 400px;
    background-color: rgba(255, 0, 0, 0.315);
    overflow: hidden;
}

.running-man img {
    position: relative;
}