.portfolio {
    background-color: rgb(31, 31, 31);
    padding: 4rem;
}

.outer-circle {
    width: 40rem;
    height: 40rem;
    border-radius: 50%;
    margin: 4rem auto;
    display: grid;
    grid-template-columns: 1fr 25rem 1fr;
    grid-template-rows: 1fr 25rem 1fr;
    grid-template-areas:
    ". mm ."
    "mw ic t2"
    ". gw . ";    
    box-shadow: 0 0 32px rgb(41, 41, 41);
    position: absolute;
    top: -4rem;
    left: 0;   
    transition: transform 1s ease-out;  
}

.background {
    width: 40rem;
    height: 40rem;
    border-radius: 50%;
    background-image: url(../img/metal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 4rem auto;
    position: relative;    
}

.outer-circle p {
    text-align: center;
    padding: 0.5rem;
    transition: transform 1s ease-out;  
    font-weight: bold;
}

.outer-circle p:nth-child(1) {
    grid-area: mm;    
}

.outer-circle p:nth-child(2) {
    grid-area: t2;
}

.outer-circle p:nth-child(3) {
    grid-area: mw;
}

.outer-circle p:nth-child(4) {
    grid-area: gw;
}

.inner-circle {
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    background-color: rgb(70, 70, 70);
    grid-area: ic; 
}

.inner-circle img {
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
}

.portfolio-header h3 {
    color:  rgb(37, 37, 37);
    font-weight: 300;
    font-size: 4rem;
    background-color: rgb(0, 157, 230);
    border-radius: 10px;
    padding: 0.5rem;
}