.skills {
    background-color: gray; 
    padding: 1rem;
    padding-bottom: 2rem; 
}

.color-explanation {
    display: flex;
    justify-content: space-between;
    width: 10rem;
    margin: 2rem auto;
}

.current {
    height: 2rem;
    width: 4rem;
    background-color: rgb(0, 91, 133);
    color: rgb(214, 214, 214);
}

.goal {
    height: 2rem;
    width: 4rem;
    background-color: rgb(147, 174, 187);
    color: rgb(49, 49, 49);
}

.skills-header {
    display: flex;
    justify-content: flex-end;
}

.skills-header h3 {
    color: rgb(37, 37, 37);
    font-weight: 300;
    font-size: 4rem;
    background-color: rgb(0, 157, 230);
    border-radius: 10px;
    padding: 0.5rem;
    margin: 4rem 0;
}

.skills-pillars {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}

.skills-scale {
    display: flex;
    justify-content: flex-end;
}

.skills-scale ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    padding: 0.5rem;
    width: 88%;
    background-color: rgb(53, 53, 53);
}

.skills-scale ul li {
    width: 10%;
    text-align: right;
    color: rgb(0, 157, 230);
    font-weight: bold;
}

.pillar {
    margin-bottom: 1rem;    
    display: flex;
}

.skills-label {
    background-color: rgb(49, 49, 49);
    color: lightgrey;
    width: 12%;
    padding: 0.5rem;
    font-size: 0.8rem;
}

.skills-level {      
    background: rgb(226,226,226);  
    width: 0%;
    padding: 0.5rem;
}